/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color:#4b364e; ;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c7b1e9;
    padding: 10px 20px;
}

.logo h1 {
    color:#ffffff; 
    font-size: 28px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #7b41bd;
}

/* Hero Section Styles */
.hero {
    background-image:url(images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    color: #e7e7e7;
    text-align: center;
    padding: 100px 20px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 23px;
    line-height: 1.6;
}

.btn {
    background-color: #da30d1;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ce3aae;
}

/* Projects Section */
.projects {
    padding: 50px 20px;
    background-color: #ecf0f1;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color:#c7b1e9 ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.project-card a {
    display: inline-block;
    background-color: #9d48e2;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-card a:hover {
    background-color: #9940af;
}

/* Contact Info Section */
.contact-info {
    padding: 50px 20px;
    background-color: #c7b1e9;
    color: #7f1183;
    text-align: center;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info p a {
    color: #b71abc;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.contact-info p a:hover {
    color: #470450;
}

/* Footer Styles */
footer {
    background-color:#c7b1e9;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-icon .bar {
        width: 25px;
        height: 3px;
        background-color: #ecf0f1;
        margin: 5px 0;
    }
}
